<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-9 padding-right"> 
				<div class="features_items"><!--features_items-->
					<h2 class="title text-center">Productos</h2>
						<div class="col-sm-4" th:each="producto: ${productos}"> <!-- PRODUCTOS -->
							<div class="product-image-wrapper" >
								<div class="single-products">
								 	<form th:action="@{/tienda/}+${producto.producto_id}" th:object="${ventaCabProducto}" method="post">
										<div class="productinfo text-center">
											<h2 th:text="'S/. '+ ${producto.precio}"></h2>
											<p th:text="${producto.nombre}"></p>
											<input type="number" name="txtCant" value="1" style="width:40px" min="1" max="20" /><br>	
											<input type="submit" value="Agregar al Carrito" />
										</div>										
									</form>
								 </div>
							</div>	
						</div>
				</div><!--features_items-->
			</div>
		</div>
	</div>
</section>
				


</body>
</html>